* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
  }
  li {
    list-style: none;
  }
  .navbar-sticky {
    z-index: 1;
    position: sticky;
     top:0px;
    width: 100%;
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; 
  }

.mid-nav{
  
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 5rem 1fr 4fr 1fr 5rem;
  /* border:1px solid black; */
  /* background-color: white; */

}
.bag-profile  {
  cursor: pointer;
}
.bag-profile li span:nth-child(1) {
  font-size: 2rem;
  color: rgb(14, 13, 13);
}
.bag-profile li span:nth-child(2) {
  padding: 0 3px;
  background-color: red;
  color: white;
  font-weight: bolx;
  border-radius: 5px;
  position: relative;
  top: -15px;
}

.logoname {
    display: grid;
    grid-column: 1/3;
    justify-content: start;
    margin-left: 20px;
    align-items: center;
    line-height: 100%;
  }

  .search {
    display: grid;
    grid-column: 3/4;
    
    align-items: center;
  }

  
  .bag-profile{
    display:grid;
    grid-column: 4/5;
    align-items: center;
  }
  /* .bag-profile>ul{
    display:grid;
    grid-template-columns:  repeat(2,1fr);
    align-items: center;
   
  }
  .bag-profile>ul:first-child{
    grid-column: 2/3;
  } */



  .bottom-nav{
    border:1px solid red;
    background-color: rgb(255, 253, 253);
    padding-top:20px;
    padding-bottom: 10px;

    
  }
  .bottom-nav>ul{
    display:grid;
    grid-template-columns: 10rem repeat(6,1fr) 15rem;

  }
  .navggname{
   color:rgb(201, 73, 73);
   font-size: 25px;
   font-weight: 400;
   
  }

  @media screen and (min-width:701px) and (max-width:900px){
    
     
}
@media only screen and (max-width: 700px) {
  .logoname {
   display: none;
  }
 
  .search {
    display: grid;
    grid-column: 1/5;
    margin-left:10px;
    align-items: center;
  }
  .bag-profile{
    display:grid;
    grid-column: 5/6;
    align-items: center;
  }
  .topnavoffer{
display: none;
  }

  
}